body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  padding-top: 10px;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
}

p {
  line-height: 2;
}

#top-container {
  background-color: #D3F4FF;
  position: relative;
}

#bottom-container {
  background-color: #66BFBF;
  margin: 50px 0 0 0;
  padding: 40px 0 20px;
}
.navbar{
  padding-top: 0;
}


.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-picture {
  border-radius: 50%;
  height: 250px;
}

a {
  color: #11999E;
  font-family: Montserrat;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.programmer {
  font-weight: normal;
}

.developer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.container-fluid {
  padding: 3% 5%;
}

.coding-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.project-img {
  width: 100%;
}
.project-box{
  padding: 0 2%;
}

hr {
  margin: 60px auto;
  width: 5%;
  border-style: dotted none none none;
  border-width: 5px;
  color: #EAF6F6;
}

.footer-name {
  color: #EAF6F6;
  font-size: 0.75rem;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

.btn {
  -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #11cdd4));
  background: -moz-linear-gradient(center top, #79bbff 5%, #11cdd4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#11cdd4');
  background-color: #79bbff;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
  text-indent: 0;
  border: 1px solid #84bbf3;
  display: inline-block;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  height: 50px;
  line-height: 50px;
  width: 138px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #528ecc;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #11cdd4), color-stop(1, #79bbff));
  background: -moz-linear-gradient(center top, #11cdd4 5%, #79bbff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11cdd4', endColorstr='#79bbff');
  background-color: #11cdd4;
}

.btn:active {
  position: relative;
  top: 1px;
}
